@font-face {
  font-family: 'Pretendard-ExtraLight';
  font-style: normal;
  font-weight: 100;
  src: local('Pretendard-ExtraLight'), local('Pretendard-ExtraLight'),
  url(@/assets/font/Pretendard-ExtraLight.woff) format('woff'),
  url(@/assets/font/Pretendard-ExtraLight.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-Light';
  font-style: normal;
  font-weight: 200;
  src: local('Pretendard-Light'), local('Pretendard-Light'),
  url(@/assets/font/Pretendard-Light.woff) format('woff'),
  url(@/assets/font/Pretendard-Light.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-Thin';
  font-style: normal;
  font-weight: 300;
  src: local('Pretendard-Thin'), local('Pretendard-Thin'),
  url(@/assets/font/Pretendard-Thin.woff) format('woff'),
  url(@/assets/font/Pretendard-Thin.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Pretendard-Regular'), local('Pretendard-Regular'),
  url(@/assets/font/Pretendard-Regular.woff) format('woff'),
  url(@/assets/font/Pretendard-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-Medium';
  font-style: normal;
  font-weight: 500;
  src: local('Pretendard-Medium'), local('Pretendard-Medium'),
  url(@/assets/font/Pretendard-Medium.woff) format('woff'),
  url(@/assets/font/Pretendard-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  font-style: normal;
  font-weight: 600;
  src: local('Pretendard-SemiBold'), local('Pretendard-SemiBold'),
  url(@/assets/font/Pretendard-SemiBold.woff) format('woff'),
  url(@/assets/font/Pretendard-SemiBold.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-Bold';
  font-style: normal;
  font-weight: 700;
  src: local('Pretendard-Bold'), local('Pretendard-Bold'),
  url(@/assets/font/Pretendard-Bold.woff) format('woff'),
  url(@/assets/font/Pretendard-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src: local('Pretendard-ExtraBold'), local('Pretendard-ExtraBold'),
  url(@/assets/font/Pretendard-ExtraBold.woff) format('woff'),
  url(@/assets/font/Pretendard-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'Pretendard-Black';
  font-style: normal;
  font-weight: 900;
  src: local('Pretendard-Black'), local('Pretendard-Black'),
  url(@/assets/font/Pretendard-Black.woff) format('woff'),
  url(@/assets/font/Pretendard-Black.otf) format('opentype');
}

@font-face {
  font-family: 'SeoulHangang-Light';
  font-style: normal;
  font-weight: 200;
  src:
      local('SeoulHangangL'),
      local('SeoulHangangL'),
      url(@/assets/font/SeoulHangangL.ttf) format('truetype');
}
@font-face {
  font-family: 'SeoulHangang-Regular';
  font-style: normal;
  font-weight: 400;
  src:
      local('SeoulHangangM'),
      local('SeoulHangangM'),
      url(@/assets/font/SeoulHangangM.ttf) format('truetype');
}
@font-face {
  font-family: 'SeoulHangang-Bold';
  font-style: normal;
  font-weight: 700;
  src:
      local('SeoulHangangB'),
      local('SeoulHangangB'),
      url(@/assets/font/SeoulHangangB.ttf) format('truetype');
}
@font-face {
  font-family: 'SeoulHangang-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src:
      local('SeoulHangangEB'),
      local('SeoulHangangEB'),
      url(@/assets/font/SeoulHangangEB.ttf) format('truetype');
}

@font-face {
  font-family: 'SeoulHangangCm-Light';
  font-style: normal;
  font-weight: 200;
  src:
      local('SeoulHangangCmL'),
      local('SeoulHangangCmL'),
      url(@/assets/font/SeoulHangangCmL.ttf) format('truetype');
}
@font-face {
  font-family: 'SeoulHangangCm-Regular';
  font-style: normal;
  font-weight: 400;
  src:
      local('SeoulHangangCmM'),
      local('SeoulHangangCmM'),
      url(@/assets/font/SeoulHangangCmM.ttf) format('truetype');
}
@font-face {
  font-family: 'SeoulHangangCm-Bold';
  font-style: normal;
  font-weight: 700;
  src:
      local('SeoulHangangCmB'),
      local('SeoulHangangCmB'),
      url(@/assets/font/SeoulHangangCmB.ttf) format('truetype');
}
@font-face {
  font-family: 'SeoulHangangCm-ExtraBold';
  font-style: normal;
  font-weight: 800;
  src:
      local('SeoulHangangEB'),
      local('SeoulHangangEB'),
      url(@/assets/font/SeoulHangangEB.ttf) format('truetype');
}
@font-face {
  font-family: 'SeoulHangangCm-Black';
  font-style: normal;
  font-weight: 900;
  src:
      local('SeoulHangangCmBL'),
      local('SeoulHangangCmBL'),
      url(@/assets/font/SeoulHangangEB.ttf) format('truetype');
}

@font-face {
  font-family: 'SeoulNamsanM';
  font-style: normal;
  font-weight: 500;
  src:
      local('SeoulNamsanM'),
      local('SeoulNamsanM'),
      url(@/assets/font/SeoulNamsanM.ttf) format('truetype');
}

@font-face {
  font-family: 'SeoulNamsanL';
  font-style: normal;
  font-weight: 400;
  src:
      local('SeoulNamsanL'),
      local('SeoulNamsanL'),
      url(@/assets/font/SeoulNamsanL.ttf) format('truetype');
}

@font-face {
  font-family: 'SeoulNamsanB';
  font-style: normal;
  font-weight: 600;
  src:
      local('SeoulNamsanB'),
      local('SeoulNamsanB'),
      url(@/assets/font/SeoulNamsanB.ttf) format('truetype');
}

@font-face {
  font-family: 'SeoulNamsanEB';
  font-style: normal;
  font-weight: 700;
  src:
      local('SeoulNamsanEB'),
      local('SeoulNamsanEB'),
      url(@/assets/font/SeoulNamsanEB.ttf) format('truetype');
}

@font-face {
  font-family: 'SeoulNamsanCEB';
  font-style: normal;
  font-weight: 500;
  src:
      local('SeoulNamsanCEB'),
      local('SeoulNamsanCEB'),
      url(@/assets/font/SeoulNamsanCEB.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjo';
  font-style: normal;
  font-weight: 500;
  src:
      local('NanumMyeongjo'),
      local('NanumMyeongjo'),
      url(@/assets/font/NanumMyeongjo.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjoBold';
  font-style: normal;
  font-weight: 600;
  src:
      local('NanumMyeongjoBold'),
      local('NanumMyeongjoBold'),
      url(@/assets/font/NanumMyeongjoBold.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumMyeongjoExtraBold';
  font-style: normal;
  font-weight: 700;
  src:
      local('NanumMyeongjoExtraBold'),
      local('NanumMyeongjoExtraBold'),
      url(@/assets/font/NanumMyeongjoExtraBold.ttf) format('truetype');
}

@font-face {
  font-family: 'FjallaOne-Regular';
  font-style: normal;
  font-weight: 500;
  src:
      local('FjallaOne-Regular'),
      local('FjallaOne-Regular'),
      url(@/assets/font/FjallaOne-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SpoqaHanSansNeo-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'SeoulHangangM';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulHangangM.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}